label {
  display: inline-block;
  width: 130px;
  font-size: 18px;
  margin-right: 20px;
  text-align: left;
}

input,
textarea {
  font-size: 18px;
}

.input {
  margin-bottom: 10px;
}

.form {
  display: grid;
  justify-content: center;
  margin-top: 30px;
}

.btn-submit {
  padding: 20px;
  background-color: skyblue;
  font-size: 20px;
  border: 0px;
  padding-right: 30px;
}

table,
th {
  border: 1px solid rgb(45, 45, 45);
  padding: 10px;
  border-collapse: collapse;
}
td {
  border: 1px solid rgb(45, 45, 45);
  font-size: 18px;
  padding: 10px;
}

.table-container {
  display: grid;
  justify-content: center;
  padding: 10px;
}
