* {
  margin: 0;
  font-family: "Poppins";
}
.container {
  background-color: beige;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
}

.user-details {
  width: 350px;
  min-height: 55px;
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 10px;
  border: 1px solid gray;
}

.data-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.pagination-container {
  text-align: center;
  margin-top: 20px;
}

.page-button {
  padding: 10px 15px 10px 15px;
  border: 0.1px solid gray;
  background-color: white;
  border-collapse: collapse;
  color: rgb(51, 55, 56);
  font-weight: bold;
  margin-right: -3px;
}

.page-button:hover {
  cursor: pointer;
  background-color: cornflowerblue;
  color: white;
}

.page-button:active {
  background-color: darkgrey;
}
